# INTRODUCTION TO PANDAS

Pandas is a powerful and flexible open-source data analysis and manipulation library for Python. It provides data structures like DataFrame and Series, which make it easy to handle and analyze structured data.

## 1. IMPORTING PANDAS

First, import the pandas library. It is conventionally imported as `pd`.

In [1]:
import pandas as pd

## 2. LOADING PANDAS

Pandas can read data from various file formats, such as CSV, Excel, SQL, and more. Here, we'll show how to load data from a CSV file.

In [2]:
# Load data from a CSV file
data = pd.read_csv('toy_dataset.csv')

# Display the first few rows of the DataFrame
data.head()

      Name  Age         City  Score
0    Alice   24     New York     85
1      Bob   27  Los Angeles     90
2  Charlie   22      Chicago     78
3    David   32      Houston     88
4      Eva   29      Phoenix     95

## 3. SELECTING COLUMNS

You can select one or more columns from a DataFrame using the column names.

In [4]:
# Select a single column
column_data = data['Name']
column_data

0      Alice
1        Bob
2    Charlie
3      David
4        Eva
Name: Name, dtype: object

In [5]:
# Select multiple columns
multiple_columns_data = data[['Name', 'Age']]
multiple_columns_data

      Name  Age
0    Alice   24
1      Bob   27
2  Charlie   22
3    David   32
4      Eva   29

## 4. WANT TO KNOW MORE

We have covered the basics of using pandas. To deepen your understanding and explore more advanced features, check out these resources:

* **Pandas Documentation**: The [official pandas documentation](https://pandas.pydata.org/docs/) provides comprehensive information about all the functionalities and features of pandas.

* **Pandas Tutorials**: The [Pandas Tutorials section](https://pandas.pydata.org/pandas-docs/stable/getting_started/intro_tutorials/index.html) offers step-by-step guides and examples to help you get started and advance your skills.

* **Pandas Cheat Sheet**: For a quick reference, the [Pandas Cheat Sheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf) provides a handy overview of commonly used functions and their syntax.